<section class="hero">
{% if section.settings.video != blank %}
  {{ section.settings.video | video_tag: 
      autoplay: true, 
      loop: true, 
      muted: true, 
      controls: false, 
      class: 'bg-video' 
  }}
{% endif %}

  <div class="overlay"></div>

  <div class="hero-content">
    <h1>{{ section.settings.heading }}</h1>

    {% if section.settings.button_link != blank %}
      <a href="{{ section.settings.button_link }}" class="btn-shop">
        {{ section.settings.button_text }}
      </a>
    {% endif %}
  </div>

</section>

{% schema %}
{
  "name": "Hero Section",
  "settings": [
    {
      "type": "video",
      "id": "video",
      "label": "Background Video "
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Bold Coffee Moments"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Shop Now"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    }
  ],
  "presets": [
    {
      "name": "Hero Section"
    }
  ]
}
{% endschema %}